.add-new-medicine {
  border-left: 1px solid #ccc;
}

.eremedium-prescription-list {
  cursor: pointer;
}

.eremedium-prescription-item-list {
  padding-left: 15px;
}

.eremedium-delivery-address.radio {
  margin-top: 0px;
}

.radio+.radio {
  margin-top: 0px;
}

.eremedium-prescription-date {
  margin-top: 20px;
}

.eremedium-frequenct-intake-time div {
  width: 100px;
}

.eremedium-frequenct-intake-time div:not(:first-child) {
  text-align: center;
}

.eremedium-order-rx {
  text-align: center
}

.eremedium-order-placed {
}

.eremedium-dialog {
  padding-left: 1em;
  padding-right: 1em;
  margin-bottom: 25px;
}

.eremedium-dialog canvas {
  border: 1px solid #f4f4f4;
  width: 100%;
}

.navbar-nav .navbar-li-custom {
    padding: 10px;
}

.img-diagnosis {
  height: 450px;
  width: 100%;
}

.img-canvas {
  display: none;
}

.canvas-editable .medicines-list { display: none; }
.canvas-editable .prescription-other { display: none; }
.canvas-editable .diagnosis { display: none; }

.canvas-editable .rx-canvas {
  display: block;
}

.prescription-back {
  width: 30px
}

.thumbnail-diagnosis {
  width: 60%;
  height: 60px;
}

.prescription-menu {
  position: fixed;
  bottom: 0;
  right: 20px;
  padding-left:20px;
  padding-right:20px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  z-index: 9999;
}

.prescription-header-navbar.navbar-default {
  color: #fff;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-color: #283c4a;
}

.prescription-header-navbar .navbar-brand{
  color: inherit;
}

.prescription-footer-navbar.navbar-default {
  background-color: #f5f5f5;
  color: #fff;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 0;
}

.prescription-header-navbar .navbar-nav>li>a:hover {
  color: #fff;
}

.canvas-new-page {
  position: absolute;
  right: 20px;
  bottom: 80px;
  font-size: 20px;
  z-index: 999;
}

.refills {
  margin-top: 30px;
}

@media screen {
    #printSection {
        display: none;
    }
}

@media print {
    body * {
        visibility: hidden;
    }

    #container:not(#printSection) {
      display: none;
    }

    #printSection, #printSection * {
        visibility: visible;
    }

    #printSection {
        position:absolute;
        left:0;
        top:0;
        width: 100%;
        font-size: 11px;
        margin-top: 200px;
        margin-bottom: 20px;
    }
}

@page {
  size:auto;
  margin: 5mm;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.intake:first-child {
  margin-top: 0px;
}

.favorites {
  position: absolute;
  left: -303px;
  top: 52px;
  width: 300px;
  background: white;
  min-height: 543px;
}

.side-menu button {
  position: absolute;
  left: -40px;
  top: 52px;
  background: white;
}

.eremedium-frequency-intake div{
  display: inline;
}

.eremedium-frequency-intake div:first-child:before {
    content: "";
    padding: 0px;
}

.eremedium-frequency-intake div:before {
    content: "•";
    padding: 5px;
}

.palm-rejection--wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: ghostwhite;
  z-index: 999999;
}

.palm-rejection--container {
  pointer-events: none;
  width: 100%;
  height: 99%;
}