.logo {
    height: 4em;
}

.body {
    font-family: GothamRounded-Book;
}


/* Typeahead */
.twitter-typeahead{
    width:100%;
}

.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
    margin-bottom: 0;
}
.tt-menu {
    min-width: 160px;
    margin-top: 2px;
    padding: 5px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.2);
    *border-right-width: 2px;
    *border-bottom-width: 2px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    width:100%;
}

.tt-suggestion {
    display: block;
    padding: 3px 20px;
}

.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #0081c2;
    background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
    background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
    background-image: -o-linear-gradient(top, #0088cc, #0077b3);
    background-image: linear-gradient(to bottom, #0088cc, #0077b3);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0)
}

.tt-suggestion.tt-cursor a {
    color: #fff;
}

.tt-suggestion p {
    margin: 0;
}

.panel-group .panel {
    overflow: inherit;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.hero-unit {
    background: url(../img/DoctorIpad.jpg) no-repeat center center fixed; 
    min-height: 35em;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.footer{
    position:relative;
    bottom:0;
    left:0;
    width:100%;
    padding-left:5%;
    padding-right:5%;
    padding-top:1%;
    padding-bottom:1%;
    background-color: #283c4a;
}

.footer a:hover {
    transform: scale(1.1); 
}

.bottomLinks {
    font-size:13px;
    font-weight:300;
    padding: 5px;
    color: white;
    transition: 0.5s;
    transform: scale(1);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.appicons {
    margin-left: 140px;
    text-align: center;
}


.appicons a {
    display: inline-block;
    margin: 0 3px;
    color: #3fa7ba;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    transform: scale(1);
}

.appicons a:hover {
    transform: scale(1.1); 
    color: #eee;
}

.glyphicon {
    top: 0px;
}

.navbar-default {
    background-color: #283c4a;
}

.header {
    border-color: rgba(255, 255, 255, 0.298039);
    border-style: solid;
    border-radius: 25px;
    border-width: 1px;
    color: white;
    position:relative;
    margin: 1%;
}

.header a {
    display: inline-block;
    margin: 0 1px;    
    color: white;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    transform: scale(1);
}

.header a:hover {
    transform: scale(1.1); 
}
