.ngdialog.ngdialog-theme-default.custom-width .ngdialog-content {
  width: 100%;
  background-color: #fff;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  padding: 0 0 30px 0;
}

.ngdialog.ngdialog-theme-default.custom-width-2 .ngdialog-content {
  width: 100%;
  background-color: #fff;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  padding: 0 0 45px 0;
}

.ngdialog.ngdialog-theme-default {
  padding: 10px;
}

.ngdialog.ngdialog-theme-default.custom-width-1 .ngdialog-content {
  width: 600px;
  height: initial;
  padding: 0;
  background-color: #fff;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  padding: 0 0 15px 0;
}