<form name="formPatientUpsertDocument" class="panel-group eremedium-dialog" novalidate autocomplete="off">
    <div class="form-group ng-scope" ng-class="{ 'has-error': formPatientUpsertDocument.documentName.$touched && formPatientUpsertDocument.documentName.$invalid }" flow-init="{singleFile:true}" flow-files-submitted='handleUpload($files, $event, $flow)' flow-name="uploader.flow" >
        <span class="btn btn-default" flow-btn="" ng-show="!readOnly">Add Document
            <input type="file" multiple="multiple" style="visibility: hidden; position: absolute;">
        </span>
        <input type="text" ng-model="document.documentName" class="form-control" name="documentName" id="documentName" ng-show="false" required/>
        <span class="label label-info form-control" ng-show="!readOnly">{{document.documentName}}</span>
        <a ng-href="data:application/octet-stream;{{document.img}}" ng-show="readOnly" download="{{document.documentName}}"> {{document.documentName}}</a>

        <div class="help-block" ng-messages="formPatientUpsertDocument.documentName.$error" ng-if="formPatientUpsertDocument.documentName.$touched">                    
            <p ng-message="required">Document is mandatory!</p>
        </div>
    </div>
    <div class="form-group">
        <label for="documentTag"> Tags:</label>
        <input type="text"  ng-model="document.tag" class="form-control" id="documentTag" name="documentTag" placeholder="Document Tag (optional)" ng-disabled="readOnly"/>
    </div>
</form>
<navbar type="footer">
    <li class="navbar-li-custom">
        <div>
            <button type="button" class="btn btn-primary" ng-click="closeThisDialog(saveBtnName)" ng-show="!readOnly" ng-disabled="formPatientUpsertDocument.$invalid">
                <i class="fa fa-floppy-o"></i>     Save
            </button>
            <button type="button" class="btn btn-default" ng-click="closeThisDialog()">
                <i class="fa fa-times"></i>
                Close
            </button>
        </div>
</navbar>
