<div cg-busy="myPromise"></div>

<div class="col-md-12">
    <ul class="breadcrumb">
        <li><a href="#/patients">Home</a></li>
        <li class="active">Patient Profile</li>
    </ul>
</div>
<div class="col-md-12">
    <h3 style="margin-top: 0%">
        <div flow-init="{singleFile:true}" flow-files-submitted='handleUpload($files, $event, $flow)' flow-name="uploader.flow" flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]" class="ng-scope">
            <span class="btn btn-link col-md-1" flow-btn="">
                <img flow-img="$flow.files[0]" ng-src="{{patient.profileImageURL}}" class="img-circle" alt="Add Photo"  width="60" height="60">
                <input type="file" style="visibility: hidden; position: absolute;">
            </span>
            <blockquote class="col-md-8 text text-warning"  ng-show="patient.isUpdate">
                <p>{{getFullName(patient)}}, {{patient.sex}}, {{patient.age.year}} year(s)</p>
                <footer ng-show="patient.history.medical">Medical History of {{patient.history.medical}} </footer>
                <footer ng-show="!patient.history.medical">No Medical History </footer>
            </blockquote>
            <span class="btn-group col-md-3" style="margin-top: 2%;" ng-show="patient.isUpdate">
                <button type="button" class="btn btn-primary" ng-click="openPrescriptions()">
                    <i class="fa fa-list"></i>
                    Open Prescriptions
                </button>
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">Refer a Doctor</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Send E-Remedium App link</a></li>
                    <li><a href="#">Print Patient Form</a></li>
                </ul>
            </span>
        </div>
    </h3>
</div>
<div class="alert {{alertClass}}  fade in col-md-12" ng-show="showAlert" role="alert">
    <button type="button" class="close" ng-click="showAlert = false" aria-hidden="true">&times;</button>
    {{alertMessage}}
</div>
<form name="formPatientProfile" class="panel-group" novalidate scroll-spy>
    <div class="pull-right" style="margin-top: 5%">

        <ul id="navPills" class="nav nav-pills nav-stacked affix">
            <li spy="identifyingDetails">
                <a href="" ng-click="isIdentifyingDetailsCollapsed = false">
                    <i class="fa fa-list-alt fa-1x"></i>
                </a>
            </li>
            <li spy="history">
                <a href="" ng-click="isHistoryVisible = true; isHistoryCollapsed = true">
                    <i class="fa fa-history fa-1x"></i>
                </a>
            </li>
            <li spy="allergies">
                <a href="" ng-click="isAllergiesVisible = true; isAllergiesCollapsed = true">
                    <i class="fa fa-ban fa-1x"></i>
                </a>
            </li>
            <li spy="vitals">
                <a href="" ng-click="isVitalsVisible = true; isVitalsCollapsed = true">
                    <i class="fa fa-stethoscope fa-1x" ></i>
                </a>
            </li>
            <li spy="clinicalNotes">
                <a href="" ng-click="isClinicalNotesVisible = true; isClinicalNotesCollapsed = true">
                    <i class="fa fa-sticky-note fa-1x"></i>
                </a>
            </li>
            <li spy="documents">
                <a href=""  ng-click="isDocumentsVisible = true; isDocumentsCollapsed = true">
                    <i class="fa fa-file fa-1x"></i>
                </a>
            </li>
            <li spy="labOrderTracking">
                <a href="" ng-click="isLabOrderTrackingVisible = true; isLabOrderTrackingCollapsed = true">
                    <i class="fa fa-building fa-1x"></i>
                </a>
            </li>
            <li spy="pharmacyOrderTracking">
                <a href="" ng-click="isPharmacyOrderTrackingVisible = true; isPharmacyOrderTrackingCollapsed = true">
                    <i class="fa fa-medkit fa-1x"></i>
                </a>
            </li>
        </ul>

    </div>

    <div id="divContent" class="col-md-12">

        <div class="panel panel-info" id="identifyingDetails">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <i class="fa fa-list-alt fa-1x"></i>
                    <a ng-click="isIdentifyingDetailsCollapsed = !isIdentifyingDetailsCollapsed" href="">Identifying Details*</a>
                    <span class="pull-right">
                        <a href="">
                            <i class="fa fa-road text-success"></i>
                        </a>
                    </span>
                </h4>
            </div>
            <div id="divIdentifyingDetails" uib-collapse="isIdentifyingDetailsCollapsed">
                <div class="panel-body">
                    <div class="form-group col-md-4" ng-class="{ 'has-error': formPatientProfile.patientFirstName.$touched && formPatientProfile.patientFirstName.$invalid }">
                        <label for="patientFirstName"> First Name*:</label>
                        <input type="text" ng-model="patient.firstName" class="form-control" ng-change="identifyingDetailsChanged = true" name="patientFirstName" id="patientFirstName" placeholder="First Name" required/>
                        <div class="help-block" ng-messages="formPatientProfile.patientFirstName.$error" ng-if="formPatientProfile.patientFirstName.$touched">
                            <p ng-message="required">Patient's First Name is mandatory!</p>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="patientMiddleName"> Middle Name:</label>
                        <input type="text"  ng-change="identifyingDetailsChanged = true" ng-model="patient.midlleName" class="form-control" id="patientMiddleName" name="patientMiddleName" placeholder="Middle Name (optional)" />
                    </div>
                    <div class="form-group col-md-4" ng-class="{ 'has-error': formPatientProfile.patientLastName.$touched && formPatientProfile.patientLastName.$invalid }">
                        <label for="patientLastName"> Last Name*:</label>
                        <input type="text" ng-change="identifyingDetailsChanged = true" ng-model="patient.lastName" class="form-control" name="patientLastName" id="patientLastName" placeholder="Last Name" required/>
                        <div class="help-block" ng-messages="formPatientProfile.patientLastName.$error" ng-if="formPatientProfile.patientLastName.$touched">
                            <p ng-message="required">Patient's Last Name is mandatory!</p>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="patientDateOfBirth">Date of Birth*:</label>
                        <datetimepicker name="patientDateOfBirth" ng-change="identifyingDetailsChanged = true" id="patientDateOfBirth" ng-model="patient.dob" placeholder="Date of Birth"/>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="patientGender">Gender*:</label>
                        <select ng-model="patient.sex" ng-change="identifyingDetailsChanged = true" ng-options="gender for gender in genders" class="form-control" id="patientGender"></select>
                    </div>
                    <div class="form-group col-md-4" ng-class="{ 'has-error': formPatientProfile.patientEmailId.$touched && formPatientProfile.patientEmailId.$invalid }">
                        <label for="patientEmailId">Email Id:</label>
                        <input type="email" ng-model="patient.email" ng-change="identifyingDetailsChanged = true" class="form-control" id="patientEmailId" name="patientEmailId" placeholder="Email Id" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" />
                        <div class="help-block" ng-messages="formPatientProfile.patientEmailId.$error" ng-if="formPatientProfile.patientEmailId.$touched">
                            <p ng-message="pattern">Please enter a valid Email Id!</p>
                        </div>
                    </div>
                    <div class="form-group col-md-4" ng-class="{ 'has-error': formPatientProfile.patientMobileNumber.$touched && formPatientProfile.patientMobileNumber.$invalid }">
                        <label for="patientMobileNumber">Mobile Number*:</label>
                        <input type="number" min="0" ng-change="identifyingDetailsChanged = true" string-to-number ng-model="patient.mobile" ng-disabled="patient.isUpdate" class="form-control" id="patientMobileNumber" name="patientMobileNumber" placeholder="Mobile Number" ng-minlength="10" ng-maxlength="10" required/>
                        <div class="help-block" ng-messages="formPatientProfile.patientMobileNumber.$error" ng-if="formPatientProfile.patientMobileNumber.$touched">
                            <p ng-message="required">Mobile Number is mandatory!</p>
                            <p ng-message="minlength">Please enter valid Mobile Number!</p>
                            <p ng-message="maxlength">Please enter valid Mobile Number!</p>
                        </div>
                    </div>
                    <div class="form-group col-md-4" ng-class="{ 'has-error': formPatientProfile.patientAlternateMobileNumber.$touched && formPatientProfile.patientAlternateMobileNumber.$invalid }">
                        <label for="patientAlternateMobileNumber">Alternate Mobile Number:</label>
                        <input type="number" min="0" ng-change="identifyingDetailsChanged = true" string-to-number ng-model="patient.alternateMobileNumber" class="form-control" id="patientAlternateMobileNumber" name="patientAlternateMobileNumber" placeholder="Alternate Mobile Number" ng-minlength="10" ng-maxlength="10"/>
                        <div class="help-block" ng-messages="formPatientProfile.patientAlternateMobileNumber.$error" ng-if="formPatientProfile.patientAlternateMobileNumber.$touched">
                            <p ng-message="minlength">Please enter valid Mobile Number!</p>
                            <p ng-message="maxlength">Please enter valid Mobile Number!</p>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="patientLandlineNumber">Landline Number:</label>
                        <input type="number" ng-change="identifyingDetailsChanged = true" min="0" string-to-number ng-model="patient.landlineNumber" class="form-control" id="patientLandlineNumber" name="patientLandlineNumber" placeholder="Landline Number" />
                    </div>
                    <div class="form-group col-md-4">
                        <label for="patientRelationshipType">Relationship Type*:</label>
                        <select ng-model="patient.relation" ng-change="identifyingDetailsChanged = true" ng-options="relationshiptype for relationshiptype in relationshiptypes" class="form-control" name="patientRelationshipType" id="patientRelationshipType"></select>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="patientBloodGroup">Blood Group:</label>
                        <select ng-model="patient.bloodgroup" ng-change="identifyingDetailsChanged = true" ng-options="bloodgroup for bloodgroup in bloodgroups" class="form-control" name="patientBloodGroup" id="patientBloodGroup"></select>
                    </div>

                    <div class="col-md-12 text-muted">
                        <h4>Primary Address</h4>
                        <hr>
                    </div>

                    <div class="form-group col-md-6" ng-class="{ 'has-error': formPatientProfile.patientAddressLine1.$touched && formPatientProfile.patientAddressLine1.$invalid }">
                        <label for="patientAddressLine1">Address Line 1*:</label>
                        <textarea class="form-control" ng-change="identifyingDetailsChanged = true" ng-model="patient.address.addressLine1" id="patientAddressLine1" name="patientAddressLine1" rows="1" placeholder="Address Line 1" required></textarea>
                        <div class="help-block" ng-messages="formPatientProfile.patientAddressLine1.$error" ng-if="formPatientProfile.patientAddressLine1.$touched">
                            <p ng-message="required">Address Line 1 is mandatory!</p>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="patientAddressLine2">Address Line 2:</label>
                        <textarea class="form-control" ng-change="identifyingDetailsChanged = true" ng-model="patient.address.addressLine2" id="patientAddressLine2" name="patientAddressLine2" rows="1" placeholder="Address Line 2"></textarea>
                    </div>
                    <div class="form-group col-md-4" ng-class="{ 'has-error': formPatientProfile.patientCity.$touched && formPatientProfile.patientCity.$invalid }">
                        <label for="patientCity">City*:</label>
                        <input type="text" ng-model="patient.address.city" ng-change="identifyingDetailsChanged = true" class="form-control" id="patientCity" name="patientCity" placeholder="City" required />
                        <div class="help-block" ng-messages="formPatientProfile.patientCity.$error" ng-if="formPatientProfile.patientCity.$touched">
                            <p ng-message="required">City is mandatory!</p>
                        </div>
                    </div>
                    <div class="form-group col-md-4" ng-class="{ 'has-error': formPatientProfile.patientState.$touched && formPatientProfile.patientState.$invalid }">
                        <label for="patientState">State*:</label>
                        <input type="text" ng-model="patient.address.state" ng-change="identifyingDetailsChanged = true" class="form-control" id="patientState" name="patientState" placeholder="State" required />
                        <div class="help-block" ng-messages="formPatientProfile.patientState.$error" ng-if="formPatientProfile.patientState.$touched">
                            <p ng-message="required">State is mandatory!</p>
                        </div>
                    </div>
                    <div class="form-group col-md-4" ng-class="{ 'has-error': formPatientProfile.patientPinCode.$touched && formPatientProfile.patientPinCode.$invalid }">
                        <label for="patientPinCode">PinCode*:</label>
                        <input type="number" string-to-number min="0" ng-change="identifyingDetailsChanged = true" ng-model="patient.address.pincode" class="form-control" id="patientPinCode" name="patientPinCode" placeholder="Pin Code" required />
                        <div class="help-block" ng-messages="formPatientProfile.patientPinCode.$error" ng-if="formPatientProfile.patientPinCode.$touched">
                            <p ng-message="required">Pin Code is mandatory!</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="alert {{alertClass}} col-md-8  fade in" ng-show="showAlert && section == 'identifyingDetails'" role="alert" style="margin-bottom: 0%">
                            <button type="button" class="close" ng-click="showAlert = false" aria-hidden="true">&times;</button>
                            {{alertMessage}}
                        </div>
                        <div class="pull-right">
                            <button class="btn btn-primary" type="button" ng-click="savePatientProfile('identifyingDetails')" ng-show="identifyingDetailsChanged" ng-disabled="formPatientProfile.$invalid">
                                <i class="fa fa-floppy-o"></i> Save
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-info" id="history" ng-show="isHistoryVisible">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <i class="fa fa-history fa-1x"></i>
                    <a ng-click="isHistoryCollapsed = !isHistoryCollapsed" href="">History</a>
                    <span class="pull-right">
                        <a href="">
                            <i class="fa fa-road text-success"></i>
                        </a>
                    </span>
                </h4>
            </div>
            <div id="divHistory" uib-collapse="!isHistoryCollapsed">
                <div class="panel-body">
                    <div class="form-group col-md-4">
                        <label for="patientMedicalHistory">Medical History:</label>
                        <textarea class="form-control" ng-change="historyChanged = true" ng-model="patient.history.medical" id="patientMedicalHistory" rows="1" placeholder="E.g. Scoliosis/Migraine headaches etc."></textarea>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="patientSurgicalHistory">Surgical History:</label>
                        <textarea class="form-control" ng-change="historyChanged = true" ng-model="patient.history.surgical" id="patientSurgicalHistory" rows="1" placeholder="E.g. Multiple Knee Surgeries etc."></textarea>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="patientFamilyHistory">Family History:</label>
                        <textarea class="form-control" ng-change="historyChanged = true" ng-model="patient.history.family" id="patientFamilyHistory" rows="1" placeholder="E.g. No History of Diabetes etc."></textarea>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="patientSmokingStatus"> Smoking Status:</label>
                        <input type="text" ng-change="historyChanged = true" ng-model="patient.history.smoking" class="form-control" id="patientSmokingStatus" placeholder="E.g. Former Smoker/No Tobacco use etc." />
                    </div>
                    <div class="form-group col-md-4">
                        <label for="patientAlcoholStatus">Alcohol Status:</label>
                        <input type="text" ng-change="historyChanged = true" ng-model="patient.history.alcohol" class="form-control" id="patientAlcoholStatus" placeholder="E.g. Rare Alchohol use/Alcoholic etc." />
                    </div>
                    <div class="form-group col-md-4">
                        <label for="patientOtherComments">Other Comments:</label>
                        <textarea class="form-control" ng-change="historyChanged = true" ng-model="patient.history.other" id="patientOtherComments" rows="1" placeholder="Other Comments"></textarea>
                    </div>

                    <div class="form-group">
                        <div class="alert {{alertClass}} col-md-8  fade in" ng-show="showAlert && section == 'history'" role="alert" style="margin-bottom: 0%">
                            <button type="button" class="close" ng-click="showAlert = false" aria-hidden="true">&times;</button>
                            {{alertMessage}}
                        </div>
                        <div class="pull-right">
                            <button class="btn btn-primary" type="button" ng-click="savePatientPeripheralDetails('history', 'userHistory')" ng-show="historyChanged">
                                <i class="fa fa-floppy-o"></i> Save
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-info" id="allergies" ng-show="isAllergiesVisible">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <i class="fa fa-ban fa-1x"></i>
                    <a ng-click="isAllergiesCollapsed = !isAllergiesCollapsed" href="">Allergies</a>
                    <span class="pull-right">
                        <a href="">
                            <i class="fa fa-road text-success"></i>
                        </a>
                    </span>
                </h4>
            </div>
            <div id="divAllergies" uib-collapse="!isAllergiesCollapsed">
                <div class="panel-body">
                    <div class="form-group col-md-4">
                        <label for="patientDrugAllergies">Drug Allergies:</label>
                        <textarea class="form-control" ng-change="allergiesChanged = true" ng-model="patient.alergy.drug" id="patientDrugAllergies" rows="1" placeholder="E.g. Penicillins etc."></textarea>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="patientFoodAllergies">Food Allergies:</label>
                        <textarea class="form-control" ng-change="allergiesChanged = true" ng-model="patient.alergy.food" id="patientFoodAllergies" rows="1" placeholder="E.g. No food allergies recorded etc."></textarea>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="patientEnvironmentalAllergies">Environmental Allergies:</label>
                        <textarea class="form-control" ng-change="allergiesChanged = true" ng-model="patient.alergy.enviromental" id="patientEnvironmentalAllergies" rows="1" placeholder="E.g. Pollen Allergy etc."></textarea>
                    </div>
                    <div class="form-group">
                        <div class="alert {{alertClass}} col-md-8  fade in" ng-show="showAlert && section == 'allergies'" role="alert" style="margin-bottom: 0%">
                            <button type="button" class="close" ng-click="showAlert = false" aria-hidden="true">&times;</button>
                            {{alertMessage}}
                        </div>
                        <div class="pull-right">
                            <button class="btn btn-primary" type="button" ng-click="savePatientPeripheralDetails('allergies', 'userAllergy')" ng-show="allergiesChanged">
                                <i class="fa fa-floppy-o"></i> Save
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-info" id="vitals" ng-show="isVitalsVisible">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <i class="fa fa-stethoscope fa-1x"></i>
                    <a ng-click="isVitalsCollapsed = !isVitalsCollapsed" href="">Vitals</a>
                    <span class="pull-right">
                        <a href="">
                            <i class="fa fa-area-chart text-success"></i>
                        </a>
                    </span>
                </h4>
            </div>
            <div id="divVitals" uib-collapse="!isVitalsCollapsed">
                <div class="panel-body">
                    <div ui-view="vitals"></div>
                </div>
            </div>
        </div>

        <div class="panel panel-info" id="clinicalNotes" ng-show="isClinicalNotesVisible">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <i class="fa fa-sticky-note fa-1x"></i>
                    <a ng-click="isClinicalNotesCollapsed = !isClinicalNotesCollapsed" href="">Clinical Notes</a>
                </h4>
            </div>
            <div id="divClinicalNotes" uib-collapse="!isClinicalNotesCollapsed">
                <div class="panel-body">
                    <div ui-view="clinicalNotes"></div>
                </div>
            </div>
        </div>

        <div class="panel panel-info" id="documents" ng-show="isDocumentsVisible">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <i class="fa fa-file fa-1x"></i>
                    <a ng-click="isDocumentsCollapsed = !isDocumentsCollapsed" href="">Documents</a>
                </h4>
            </div>
            <div id="divDocuments" uib-collapse="!isDocumentsCollapsed">
                <div class="panel-body">
                    <div ui-view="documents"></div>
                </div>
            </div>
        </div>

        <div class="panel panel-info" id="labOrderTracking" ng-show="isLabOrderTrackingVisible">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <i class="fa fa-building fa-1x"></i>
                    <a ng-click="isLabOrderTrackingCollapsed = !isLabOrderTrackingCollapsed" href="">Lab Order Tracking</a>
                    <span class="pull-right">
                        <a href="">
                            <i class="fa fa-area-chart text-success"></i>
                        </a>
                    </span>
                </h4>
            </div>
            <div id="divLabOrderTracking" uib-collapse="!isLabOrderTrackingCollapsed">
                <div class="panel-body">

                </div>
            </div>
        </div>

        <div class="panel panel-info" id="pharmacyOrderTracking" ng-show="isPharmacyOrderTrackingVisible">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <i class="fa fa-medkit fa-1x"></i>
                    <a ng-click="isPharmacyOrderTrackingCollapsed = !isPharmacyOrderTrackingCollapsed" href="">Pharmacy Order Tracking</a>
                    <span class="pull-right">
                        <a href="" >
                            <i class="fa fa-area-chart text-success"></i>
                        </a>
                    </span>
                </h4>
            </div>
            <div id="divPharmacyOrderTracking" uib-collapse="!isPharmacyOrderTrackingCollapsed">
                <div class="panel-body">

                </div>
            </div>
        </div>

    </div>
</form>