<div cg-busy="myPromise"></div>
<!--<div ncy-breadcrumb></div>-->
<form>
    <div class="row">
        <div class="form-group col-md-4">
            <button type="button" class="btn btn-primary" ng-click="createPatientProfile()" >
                <i class="fa fa-plus"></i>
                Create Patient Profile
            </button>
        </div>

        <div class="form-group col-md-4 pull-right">
            <div class="input-group">
                <input type="text" ng-keydown="$event.which === 13 && searchByMobileNumber()" class="form-control" placeholder="Search by Patient's Mobile Number.." ng-model="patient.search.mobilenumber" id="patientsearchmobilenumber">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="searchByMobileNumber()"><span class="glyphicon glyphicon-search"></span></button>
                    <button class="btn btn-default" type="button" ng-click="getPatientList()"><span class="fa fa-refresh fa-1x"></span></button>
                </span>
            </div><!-- /input-group -->
        </div>
    </div>
    <div class="alert alert-danger" role="alert" ng-show="showAlert">
        {{alertMessage}}
    </div>
    <div class="row">
        <div class="col-md-4 col-xs-6" ng-repeat="patientObj in patientList">
            <div class="thumbnail">
                <a href="#" ng-click="openPatientProfile(patientObj)" class="inline-block" role="button">
                    <img ng-src="{{patientObj.profileImageURL}}" alt="No Photo" class="img-rounded" width="80" height="80" >
                </a>
                <div class="caption inline-block">
                    <h4> 
                        <i class="fa fa-user fa-1x text-primary"></i>
                        <a href="" ng-click="openPatientProfile(patientObj)">
                            {{getFullName(patientObj)}} 
                        </a>
                    </h4>
                    <p>{{patientObj.sex}}, {{patientObj.age.year}} year(s)</p>
                    <p><i class="fa fa-mobile fa-1x"></i> {{patientObj.mobile}}</p>
                    <i class="fa fa-envelope-o fa-1x"></i> <a href="mailto:{{patientObj.email}}" target="_top">{{patientObj.email}}</a>
                </div>
            </div>
        </div>
    </div>
</form>
