<!DOCTYPE html>
<html lang="en" ng-app="ERemediumWebApp" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>E-Remedium</title>
    <meta name="description" content="E-Remedium Web Application">
    <meta name="author" content="">

    <!-- Bootstrap -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap DateTime Picker -->
    <link rel="stylesheet" href="bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />

    <link rel="stylesheet" href="css/app.css">
    <link href="css/simple-sidebar.css" rel="stylesheet" type="text/css"/>
    <link href="css/gotham-rounded-book.css" rel="stylesheet" type="text/css"/>
    <link href="bower_components/fontawesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="bower_components/angular-busy/dist/angular-busy.min.css" rel="stylesheet" type="text/css"/>
    <link href="bower_components/angular-ui-select/dist/select.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="bower_components/fullcalendar/dist/fullcalendar.css"/>
    <link href="bower_components/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css" rel="stylesheet" type="text/css"/>
    <!-- Remote logging for iPad
      Usage: console.re.log("Hello from remote logger");
    -->
    <script src="//console.re/connector.js" data-channel="fc9b-ca1e-104b" id="consolerescript"></script>

    <!-- For browsers with no/partial ES6 support -->
    <script src="bower_components/es6-shim/es6-shim.min.js" type="text/javascript"></script>
    <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>

    <!-- ng-dialog -->
    <link href="bower_components/ng-dialog/css/ngDialog.min.css" rel="stylesheet" type="text/css"/>
    <link href="bower_components/ng-dialog/css/ngDialog-theme-default.min.css" rel="stylesheet" type="text/css"/>
    <link href="css/ngDialog-custom-width.css" rel="stylesheet" type="text/css"/>
    <link href="Utils/angular-resizable/angular-resizable.min.css" rel="stylesheet" type="text/css"/>
    <!-- Prescription CSS -->
    <link rel="stylesheet" href="Prescriptions/css/prescriptions.css" type="text/css"/>
  </head>
  <body class="ng-cloak" >

    <div id="container">


      <nav class="navbar navbar-default no-margin navbar-main">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active" >
              <button class="navbar-toggle collapse in" style="border-color: transparent;color: white" data-toggle="collapse" id="menu-toggle-2">
                <i class="fa fa-bars fa-2x" ng-show="showMenu"></i>
              </button>
              <button style="padding: 0px;" ng-show="!showMenu" ng-click="go('#')">
                <img src="img/logo.png" class="logo" alt="E-Remedium">
              </button>

            </li>
          </ul>

          <h3 class="text-muted" style="display: inline-block;">
            {{pageHeader}}
          </h3>

          <span class="pull-right header" ng-show="!showMenu">
            <a class="btn btn-link" ui-sref="login({signIn: true})" role="button">Login </a>|
            <a class="btn btn-link" ui-sref="login({signIn: false})" role="button">Register</a>
          </span>

          <span class="appicons pull-right" ng-show="showMenu">
            <a href="#/tasks">
              <i class="fa fa-envelope fa-2x"></i>
              <span class="badge alert-success">{{pendingMessagesCount}}</span>
            </a>
            <a href="#/tasks">
              <i class="fa fa-bell fa-2x"></i>
              <span class="badge alert-success">{{pendingTasksCount}}</span>
            </a>
            <a class="btn btn-link" href='#/doctor' role="button">
              <img ng-src="{{doctor.profileImageURL}}" class="img-circle" width="60" height="60">
            </a>
          </span>
        </div>
      </nav>

      <div id="wrapper" class="toggled-2 hero-unit">
        <!-- Sidebar -->
        <!-- Sidebar -->
        <div id="sidebar-wrapper" ng-show="showMenu">
          <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
            <li class="active">
              <a href="#/patients">
                <span class="fa-stack fa-lg pull-left"><i class="fa fa-list-alt fa-stack-1x "></i></span> Home
              </a>
            </li>
            <li>
              <a href="#/book-appointment">
                <span class="fa-stack fa-lg pull-left"><i class="fa fa-medkit fa-stack-1x "></i></span>Book Appointment
              </a>
            </li>
            <li>
              <a href="#/messages">
                <span class="fa-stack fa-lg pull-left">
                  <i class="fa fa-envelope fa-stack-1x "></i>
                </span>Messages<span class="badge">{{pendingMessagesCount}}</span>
              </a>
            </li>
            <li>
              <a href="#/tasks">
                <span class="fa-stack fa-lg pull-left">
                  <i class="fa fa-check-square-o fa-stack-1x "></i>
                </span> Tasks <span class="badge">{{pendingTasksCount}}</span>
              </a>
            </li>
            <li>
              <a href="#/reportinganalytics">
                <span class="fa-stack fa-lg pull-left"><i class="fa fa-area-chart fa-stack-1x "></i></span>Reporting & Analytics
              </a>
            </li>
            <li>
              <a href="#/labs">
                <span class="fa-stack fa-lg pull-left"><i class="fa fa-building fa-stack-1x "></i></span>Labs & Imaging
              </a>
            </li>
            <li>
              <a href="#/pharmacy">
                <span class="fa-stack fa-lg pull-left"><i class="fa fa-medkit fa-stack-1x "></i></span>Pharmacy
              </a>
            </li>
            <li>
              <a href="" ui-sref="login({signIn: true})">
                <span class="fa-stack fa-lg pull-left"><i class="fa fa-sign-out fa-stack-1x "></i></span>Log Out
              </a>
            </li>
          </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
          <div class="container-fluid">
            <!-- Return to Top -->
            <a href="javascript:" class="bg-info well-sm" id="return-to-top">
              <i class="glyphicon glyphicon-chevron-up"></i> Back to Top
            </a>
            <div ui-view></div>
          </div>
        </div>
        <!-- /#page-content-wrapper -->
      </div>

      <div class="footer" ng-if="!showMenu">
        <a class="bottomLinks" href="#">About</a>
        <a class="bottomLinks" href="#">Careers</a>
        <a class="bottomLinks" href="#">Contact Us</a>
        <a class="bottomLinks" href="#">Privacy &amp; Terms</a>
        <span class="appicons bottomLinks">
          Download Our App

          <a href="#" class="fa fa-android fa-2x" target="_blank" title="ERemedium Android Application"></a>
          <a href="#" class="fa fa-apple fa-2x" target="_blank" title="ERemedium Apple Application"></a>
          <a href="#" class="fa fa-windows fa-2x" target="_blank" title="ERemedium Windows Application"></a>
        </span>
        <span class="bottomLinks pull-right" style="padding-top: 10px"> © 2016, E-Remedium Pvt Ltd, India. All Rights Reserved. </span>
      </div>

      <!--ALL SCRIPTS SECTION-->
      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>
      <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

      <script src="bower_components/lodash/dist/lodash.min.js"></script>

      <!-- Bootstrap DateTime Picker -->
      <script type="text/javascript" src="bower_components/moment/min/moment.min.js"></script>
      <!--<script type="text/javascript" src="bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>-->

      <script src="bower_components/angular/angular.min.js"></script>
      <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
      <script src="bower_components/angular-messages/angular-messages.min.js"></script>
      <script src="bower_components/angular-resource/angular-resource.min.js"></script>

      <script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
      <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

      <script src="bower_components/angular-busy/dist/angular-busy.min.js" type="text/javascript"></script>
      <script src="bower_components/angular-cookies/angular-cookies.min.js" type="text/javascript"></script>
      <script src="bower_components/paper/dist/paper-full.js" type="text/javascript"></script>
      <script src="bower_components/ng-dialog/js/ngDialog.min.js" type="text/javascript"></script>
      <script src="bower_components/ng-flow/dist/ng-flow-standalone.min.js" type="text/javascript"></script>
      <script src="bower_components/angular-touch/angular-touch.js"></script>
      <script src="bower_components/angular-breadcrumb/dist/angular-breadcrumb.min.js" type="text/javascript"></script>

      <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
      <script src="Utils/angular-resizable/src/angular-resizable.js" type="text/javascript"></script>
      <script src="bower_components/angular-ui-select/dist/select.min.js" type="text/javascript"></script>
      <!--<script src="bower_components/angular-resizable/angular-resizable.min.js" type="text/javascript"></script>-->
      <!-- ui-calendar-->
      <script type="text/javascript" src="bower_components/angular-ui-calendar/src/calendar.js"></script>
      <script type="text/javascript" src="bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
      <script type="text/javascript" src="bower_components/fullcalendar/dist/gcal.js"></script>
      <script src="bower_components/bootstrap-switch/dist/js/bootstrap-switch.min.js" type="text/javascript"></script>
      <script src="bower_components/angular-bootstrap-switch/dist/angular-bootstrap-switch.min.js" type="text/javascript"></script>

      <!-- WILL -->
      <script src="Utils/js/lib/js.ext.js"></script>
      <script src="Utils/js/lib/js.ext.dom.js"></script>
      <script src="Utils/js/lib/Module.js"></script>
      <script src="Utils/js/lib/WacomInkEngine.js"></script>

      <script src="js/app.js"></script>
      <script src="js/app.config.js"></script>
      <script src="js/app.router.js"></script>


      <!-- Login -->
      <script src="Login/js/login.js"></script>
      <script src="Login/services/login.services.js" type="text/javascript"></script>

      <!-- Tasks -->
      <script src="Tasks/js/tasks.module.js" type="text/javascript"></script>
      <script src="Tasks/js/tasks.routes.js" type="text/javascript"></script>
      <script src="Tasks/js/controllers/tasks.list.controller.js" type="text/javascript"></script>
      <script src="Tasks/js/services/tasks.service.js" type="text/javascript"></script>

      <!-- Patients -->
      <script src="Patients/js/patients.module.js" type="text/javascript"></script>
      <script src="Patients/js/patients.routes.js" type="text/javascript"></script>
      <script src="Patients/js/controllers/patients.list.controller.js" type="text/javascript"></script>
      <script src="Patients/js/controllers/patients.edit.controller.js" type="text/javascript"></script>
      <script src="Patients/js/controllers/patients.edit-address.controller.js" type="text/javascript"></script>
      <script src="Patients/js/services/patients.service.js" type="text/javascript"></script>
      <script src="Patients/js/controllers/patients.vitals.controller.js" type="text/javascript"></script>
      <script src="Patients/js/controllers/patients.upsert-vitals.controller.js" type="text/javascript"></script>
      <script src="Patients/js/controllers/patients.clinical-notes.controller.js" type="text/javascript"></script>
      <script src="Patients/js/controllers/patients.upsert-clinical-notes.controller.js" type="text/javascript"></script>
      <script src="Patients/js/controllers/patients.verify-otp.controller.js" type="text/javascript"></script>
      <script src="Patients/js/controllers/patients.documents.controller.js" type="text/javascript"></script>
      <script src="Patients/js/controllers/patients.upsert-documents.controller.js" type="text/javascript"></script>
      <!-- Prescriptions -->
      <script src="Prescriptions/js/prescriptions.module.js"></script>
      <script src="Prescriptions/js/prescriptions.routes.js"></script>
      <script src="Prescriptions/js/controllers/prescriptions.index.controller.js"></script>
      <script src="Prescriptions/js/controllers/prescriptions.list.controller.js"></script>
      <script src="Prescriptions/js/controllers/prescriptions.edit-medicines.controller.js"></script>
      <script src="Prescriptions/js/controllers/prescriptions.edit.controller.js"></script>
      <script src="Prescriptions/js/controllers/prescriptions.detail.controller.js"></script>
      <script src="Prescriptions/js/controllers/prescriptions.order.controller.js"></script>
      <script src="Prescriptions/js/controllers/prescriptions.order-status.controller.js"></script>
      <script src="Prescriptions/js/controllers/prescriptions.upsert-item.controller.js"></script>
      <script src="Prescriptions/js/controllers/prescriptions.items.controller.js"></script>
      <script src="Prescriptions/js/services/prescriptions.service.js"></script>
      <script src="Prescriptions/js/directives/prescriptions.items.directive.js"></script>
      <script src="Prescriptions/js/directives/prescriptions.navbar.directive.js"></script>
      <!-- Reporting Analytics -->
      <script src="ReportingAnalytics/js/reportinganalytics.module.js" type="text/javascript"></script>
      <script src="ReportingAnalytics/js/reportinganalytics.routes.js" type="text/javascript"></script>
      <script src="ReportingAnalytics/js/controllers/reportinganalytics.index.controller.js" type="text/javascript"></script>
      <script src="ReportingAnalytics/js/services/reportinganalytics.service.js" type="text/javascript"></script>
      <!-- Pharmacy -->
      <script src="Pharmacy/js/pharmacy.module.js" type="text/javascript"></script>
      <script src="Pharmacy/js/pharmacy.routes.js" type="text/javascript"></script>
      <script src="Pharmacy/js/controllers/pharmacy.index.controller.js" type="text/javascript"></script>
      <script src="Pharmacy/js/services/pharmacy.service.js" type="text/javascript"></script>
      <!-- Messages -->
      <script src="Messages/js/messages.module.js" type="text/javascript"></script>
      <script src="Messages/js/messages.routes.js" type="text/javascript"></script>
      <script src="Messages/js/controllers/messages.index.controller.js" type="text/javascript"></script>
      <script src="Messages/js/services/messages.service.js" type="text/javascript"></script>

      <!-- Doctor -->
      <script src="Doctor/js/doctor.module.js" type="text/javascript"></script>
      <script src="Doctor/js/doctor.routes.js" type="text/javascript"></script>
      <script src="Doctor/js/controllers/doctor.index.controller.js" type="text/javascript"></script>
      <script src="Doctor/js/services/doctor.service.js" type="text/javascript"></script>
      <!-- Labs -->
      <script src="Labs/js/labs.module.js" type="text/javascript"></script>
      <script src="Labs/js/labs.routes.js" type="text/javascript"></script>
      <script src="Labs/js/controllers/labs.index.controller.js" type="text/javascript"></script>
      <script src="Labs/js/services/labs.service.js" type="text/javascript"></script>
      <!-- Utils -->
      <script src="Utils/js/utils.module.js"></script>
      <script src="Utils/js/directives/datetimepicker.directive.js"></script>
      <script src="Utils/js/directives/stringtonumber.directive.js" type="text/javascript"></script>
      <script src="Utils/js/directives/my-canvas.directive.js" type="text/javascript"></script>
      <script src="Utils/js/directives/will-canvas.directive.js" type="text/javascript"></script>
      <script src="Utils/js/directives/print.directive.js" type="text/javascript"></script>
      <script src="Utils/js/directives/scrollspy.directive.js" type="text/javascript"></script>
      <script src="Utils/js/directives/spy.directive.js" type="text/javascript"></script>
      <script src="Utils/js/directives/aDisabled.directive.js" type="text/javascript"></script>
      <script src="Utils/js/filters/datetime.filter.js"></script>
      <script src="Utils/js/sidebar_menu.js" type="text/javascript"></script>
      <script src="components/version/version.js"></script>
      <script src="components/version/version-directive.js"></script>
      <script src="components/version/interpolate-filter.js"></script>
      <!-- Appointments -->
      <script src="Appointments/js/appointments.module.js" type="text/javascript"></script>
      <script src="Appointments/js/appointments.routes.js" type="text/javascript"></script>
      <script src="Appointments/js/controllers/appointments.index.controller.js" type="text/javascript"></script>
      <script src="Appointments/js/services/appointments.service.js" type="text/javascript"></script>

    </div>
  </body>
</html>
