<div cg-busy="myPromise"></div>
<form>
    <div class="row">
        <div class="form-group col-md-4 pull-right">
            <input type="text" class="form-control" placeholder="Search.." ng-model="inputSearch" id="inputSearch">
        </div>
    </div>

    <div class="page-header text-muted">
        <h4> Your Tasks List:</h4>
    </div>
    <table class="table table-hover table-condensed">
        <thead>
            <tr>
                <th>Type</th>                     
                <th>Patient Name</th> 
                <th>Mobile Number</th> 
                <th>Address</th> 
                <th>Date Added</th> 
                <th>Comments</th> 
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="taskObj in taskList| filter: inputSearch | orderBy:dateadded"> 
                <td>{{taskObj.type}}</td>
                <td>
                    <a href="#/patients/edit/{{taskObj.patient.patientId}}"> {{$rootScope.getFullName(taskObj.patient)}} </a>
                </td>
                <td>{{taskObj.patient.mobile}}</td> 
                <td>{{$rootScope.getFullAddress(taskObj.patient)}}</td> 
                <td>{{taskObj.dateadded}}</td> 
                <td>{{taskObj.comments}}</td> 
                <td>
                    <button type="button" class="btn btn-primary"> {{ buttonText(taskObj.type) }}
                        <span class="fa fa-sign-in fa-stack-1x"></span>
                    </button>
                </td> 
            </tr>
        </tbody>
    </table>

</form>