<form>
  <div class="form-group">
    <label for="patientComplaint">Patient Complaint</label>
    <input type="text" class="form-control" id="patientComplaint" placeholder="Patient Complaint">
  </div>
  <div class="form-group">
    <label for="diagnosis">Diagnosis</label>
    <input type="text" class="form-control" id="diagnosis" placeholder="Diagnosis">
  </div>
  <div class="form-group">
    <label for="nextVisit">Next Visit</label>
    <datetimepicker id="nextVisit"></datetimepicker>
  </div>
  <button type="submit" class="btn btn-default">Save</button>
</form>