<table class="table table-condensed">
    <thead>
        <tr>
            <th>
                <a href="" ng-click="sortSearchResultsType = 'creationDate'; sortSearchResultsReverse = !sortSearchResultsReverse">
                    Date
                    <span ng-show="sortSearchResultsType == 'creationDate' && !sortSearchResultsReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortSearchResultsType == 'creationDate' && sortSearchResultsReverse" class="fa fa-caret-up"></span>
                </a>
            </th>
            <th>
                <a href="" ng-click="sortSearchResultsType = 'patientComplaint'; sortSearchResultsReverse = !sortSearchResultsReverse">
                    Diagnosis & Complaints
                    <span ng-show="sortSearchResultsType == 'patientComplaint' && !sortSearchResultsReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortSearchResultsType == 'patientComplaint' && sortSearchResultsReverse" class="fa fa-caret-up"></span>
                </a>
            </th>
            <!--<th>-->
                <!--<a href="" ng-click="sortSearchResultsType = 'diagnosis'; sortSearchResultsReverse = !sortSearchResultsReverse">-->
                    <!--Diagnosis-->
                    <!--<span ng-show="sortSearchResultsType == 'diagnosis' && !sortSearchResultsReverse" class="fa fa-caret-down"></span>-->
                    <!--<span ng-show="sortSearchResultsType == 'diagnosis' && sortSearchResultsReverse" class="fa fa-caret-up"></span>-->
                <!--</a>-->
            <!--</th>-->
            <th>Medicines</th>
            <th>
                <a href="" ng-click="sortSearchResultsType = 'nextVisit.date'; sortSearchResultsReverse = !sortSearchResultsReverse">
                    Next Visit
                    <span ng-show="sortSearchResultsType == 'nextVisit.date' && !sortSearchResultsReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortSearchResultsType == 'nextVisit.date' && sortSearchResultsReverse" class="fa fa-caret-up"></span>
                </a>
            </th>
            <th>
                <a href="" ng-click="sortSearchResultsType = 'nextVisit.date'; sortSearchResultsReverse = !sortSearchResultsReverse">
                    Valid Upto
                    <span ng-show="sortSearchResultsType == 'nextVisit.date' && !sortSearchResultsReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortSearchResultsType == 'nextVisit.date' && sortSearchResultsReverse" class="fa fa-caret-up"></span>
                </a>
            </th>
            <th>Order Status</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="prescription in prescriptions | orderBy:sortSearchResultsType:sortSearchResultsReverse"
            class="eremedium-prescription-list" ng-click="view($index)">
            <td>{{prescription.creationDate| date:'medium'}}</td>
            <td><img class="thumbnail-diagnosis" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgdmlld0JveD0iMCAwIDE0MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzE0MHgxNDAKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xNTJhYTM3MTkxYSB0ZXh0IHsgZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQgfSBdXT48L3N0eWxlPjwvZGVmcz48ZyBpZD0iaG9sZGVyXzE1MmFhMzcxOTFhIj48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjQ1LjUiIHk9Ijc0LjUiPjE0MHgxNDA8L3RleHQ+PC9nPjwvZz48L3N2Zz4=" class="img-responsive" alt="Responsive image"></td>
            <!--<td>{{ prescription.patientComplaint}}</td>-->
            <!--<td>{{ prescription.diagnosis}}</td>-->
            <td>
                <span class="label label-danger" ng-repeat="medicine in prescription.medcines">{{medicine.name}}</span>
            </td>
            <td>{{prescription.nextVisit.date| date:'medium'}}</td>
            <td>{{prescription.nextVisit.date| date:'medium'}}</td>
            <td>Processing</td>

        </tr>
    </tbody>
</table>