<div cg-busy="myPromise" ng-init="showMenu=false"></div>
{{createView}}
<button type="button" class="btn btn-primary prescription-menu" ng-if="showMenu" ng-click="open();">New Prescription</button>
<!--show last 25 patient visit -->
<h3 class="clearfix">
    <a ui-sref="PatientNewOrEdit({patientId: patientProfile.patientId})">{{patientProfile.firstName + " " + patientProfile.lastName}}</a>
    <button type="button" class="btn btn-primary pull-right" ng-if="!showMenu" ng-click="open();">+ Create New Prescription</button>
</h3>
<hr>
<div class="clearfix">

 <div class="pull-left prescription-back-div" ng-if="detailView">
   <button class="btn btn-default pull-left" ng-click="detailView=false;list();"> <span class="glyphicon glyphicon-arrow-left prescription-back"></span> </button>
 </div>

  <!--<div class="prescription-search input-group col-md-4 pull-left">-->
      <!--<input type="text" class="form-control" placeholder="Search for prescription...">-->
      <!--<span class="input-group-btn">-->
        <!--<button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-search"></span></button>-->
      <!--</span>-->
    <!--</div>&lt;!&ndash; /input-group &ndash;&gt;-->

  <div class="pull-right" ng-if="!detailView">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span></button>
      <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-chevron-right"></span></button>
    </div>
  </div>

</div>


<hr>
<div ui-view></div>