<navbar type="header">
  <li><a ng-click="minimize();"><span class="glyphicon glyphicon-minus"></span></a></li>
  <li><a ng-click="close()"><span class="glyphicon glyphicon-remove"></span></a></li>
</navbar>
<div cg-busy="myPromise"></div>
<div class="eremedium-dialog">
  <form name="formPrescription" class="panel-group" novalidate>
    <canvas height="450" width="800" ng-model="prescription.imgDiagnosis" my-canvas default-size="1" default-color="#000"  ng-if="canvasEnabled" />
    <div ng-if="!canvasEnabled">
      <div class="form-group"  ng-class="{ 'has-error': formPrescription.patientComplaint.$touched && formPrescription.patientComplaint.$invalid }">
        <label for="patientComplaint">Patient Complaint*</label>
        <textarea class="form-control" name="patientComplaint" ng-model="prescription.patientComplaint" id="patientComplaint" rows="3" placeholder="Patient Complaint" required></textarea>
        <div class="help-block" ng-messages="formPrescription.patientComplaint.$error" ng-if="formPrescription.patientComplaint.$touched">
            <p ng-message="required">Patient Complaint is mandatory!</p>
        </div>
      </div>
      <div class="form-group" ng-class="{ 'has-error': formPrescription.diagnosis.$touched && formPrescription.diagnosis.$invalid }">
        <label for="diagnosis">Diagnosis*</label>
        <textarea class="form-control" name="diagnosis" ng-model="prescription.diagnosis" id="diagnosis" rows="4" placeholder="Diagnosis" required></textarea>
        <div class="help-block" ng-messages="formPrescription.diagnosis.$error" ng-if="formPrescription.diagnosis.$touched">
            <p ng-message="required">Patient Diagnosis is mandatory!</p>
        </div>
      </div>
    </div>
    <div class="medicines-list">
      <h4>Rx</h4>
      <hr>
      <items editable="true" type="medcine" prescription="prescription"></items>
    </div>
    <div class="advises-list">
      <h4>Advises</h4>
      <hr>
      <items editable="true" type="advise" prescription="prescription"></items>
    </div>
    <div class="row prescription-other">
      <div class="form-group col-md-2">
        <label for="nextVisit">Next Visit</label>
        <datetimepicker ng-model="prescription.nextVisit.date" id="nextVisit" placeholder="Schedule Next Visit"></datetimepicker>
      </div>
    </div>

  </form>
</div>
<navbar type="footer">
  <li class="navbar-li-custom">
    <div>
        <button type="button" class="btn btn-primary" ng-if="!canvasEditable" ng-click="save()"
                ng-disabled="formPrescription.$invalid">
            <i class="fa fa-floppy-o"></i> Save
        </button>
    </div>
  <li><a ng-click="upsertItem('medcine')"><span class="glyphicon glyphicon-plus"></span> Add Medicine</a></li>
  <li><a ng-click="upsertItem('advise')"><span class="glyphicon glyphicon-plus"></span> Advises (Lab Tests)</a></li>
</navbar>
