<div cg-busy="myPromise"></div>
<table class="table table-striped" ng-show="prescription.advises.length">
  <thead>
    <th ng-if="!editable">#</th>
    <th>Test</th>
    <th>Instructions</th>
    <th ng-if="editable"></th>
  </thead>
  <tbody>
    <tr ng-repeat="advise in prescription.advises">
      <td ng-if="!editable">{{ $index+1 }}</td>
      <td>
        <div ng-if="!editable">
          {{ advise.name }}
        </div>
        <div ng-if="editable">
          <input type="text" ng-change="add()" ng-model="advise.name" class="form-control"
                 placeholder="Start typing the name of the test..." uib-typeahead="advise for advise in advises | filter:$viewValue | limitTo: 5"/>
          <!--<br>-->
          <!--<i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>-->
          <!--<div ng-show="noResults">-->
              <!--<i class="glyphicon glyphicon-remove"></i> No Results Found-->
          <!--</div>-->
          <!--<div class="help-block" ng-messages="formPrescription.adviseName.$error" ng-if="formPrescription.adviseName.$touched">-->
              <!--<p ng-message="required">Advise Name is mandatory!</p>-->
          <!--</div>-->
        </div>
      </td>
      <td>
        <div ng-if="!editable">
          {{ advise.instructions }}
        </div>
        <div ng-if="editable">
          <textarea class="form-control" ng-model="advise.instructions" rows="1" id="comments" placeholder="Instructions"></textarea>
        </div>
      </td>
      <td ng-if="editable">
        <ul class="list-inline list-unstyled">
          <li><a ng-click="delete($index)" ng-show="prescription.advises.length > 1">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>