<div cg-busy="myPromise" ng-init="showMenu=false"></div>
<button type="button" class="btn btn-primary prescription-menu" ng-if="showMenu" ng-click="open();"><span class="glyphicon glyphicon-edit"></span> New Prescription</button>
<h3 class="clearfix">
    <a ui-sref="PatientNewOrEdit({patientId: patientProfile.patientId})">{{patientProfile.firstName + " " + patientProfile.lastName}}</a>
    <button type="button" class="btn btn-primary pull-right" ng-if="!showMenu" ng-click="open();"><span class="glyphicon glyphicon-edit"></span> Create New Prescription</button>
</h3>
<hr>

<div class="clearfix">
  <div class="pull-right" ng-if="!detailView">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span></button>
      <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-chevron-right"></span></button>
    </div>
  </div>
</div>
<hr>

<!--show last 25 patient visit -->
<table class="table table-hover table-condensed">
    <thead>
        <tr>
            <th>
                <a href="" ng-click="sortSearchResultsType = 'creationDate'; sortSearchResultsReverse = !sortSearchResultsReverse">
                    Date
                    <span ng-show="sortSearchResultsType == 'creationDate' && !sortSearchResultsReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortSearchResultsType == 'creationDate' && sortSearchResultsReverse" class="fa fa-caret-up"></span>
                </a>
            </th>
            <th>
                <a href="" ng-click="sortSearchResultsType = 'patientComplaint'; sortSearchResultsReverse = !sortSearchResultsReverse">
                    Patient Complaint
                    <span ng-show="sortSearchResultsType == 'patientComplaint' && !sortSearchResultsReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortSearchResultsType == 'patientComplaint' && sortSearchResultsReverse" class="fa fa-caret-up"></span>
                </a>
            </th>
            <th>
                <a href="" ng-click="sortSearchResultsType = 'diagnosis'; sortSearchResultsReverse = !sortSearchResultsReverse">
                    Diagnosis
                    <span ng-show="sortSearchResultsType == 'diagnosis' && !sortSearchResultsReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortSearchResultsType == 'diagnosis' && sortSearchResultsReverse" class="fa fa-caret-up"></span>
                </a>
            </th>
            <th>Diseases</th>
            <th>Medicines</th>
            <th>
                <a href="" ng-click="sortSearchResultsType = 'nextVisit.date'; sortSearchResultsReverse = !sortSearchResultsReverse">
                    Next Visit
                    <span ng-show="sortSearchResultsType == 'nextVisit.date' && !sortSearchResultsReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortSearchResultsType == 'nextVisit.date' && sortSearchResultsReverse" class="fa fa-caret-up"></span>
                </a>
            </th>
            <th>Order</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="prescription in prescriptions | orderBy:sortSearchResultsType:sortSearchResultsReverse" class="eremedium-prescription-list">
            <td>
                <a uib-tooltip="View Prescription" ui-sref="PatientNewOrEdit.PrescriptionDetail({ prescriptionId: prescription.pid })">{{prescription.creationDate| date:'medium'}}</a></td>
            <td>{{ prescription.patientComplaint}}</td>
            <td>{{ prescription.diagnosis}}</td>
            <td>
                <ul class="eremedium-prescription-item-list">
                    <li ng-repeat="disease in prescription.diseases">
                        <span class="label label-default">{{disease.disease}}</span>
                    </li>
                </ul>
            </td>
            <td>
                <ul class="eremedium-prescription-item-list">
                    <li ng-repeat="medicine in prescription.medcines">
                        {{medicine.name}}
                    </li>
                </ul>
            </td>
            <td>{{prescription.nextVisit.date| date:'medium'}}</td>
            <td class="eremedium-order-rx">
                <a ui-sref="PrescriptionOrder({ pId: prescription.pid })">
                    <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                </a>
            </td>
        </tr>
    </tbody>
</table>