<!--show last 25 patient visit -->
<h3>
  <a ui-sref="PatientNewOrEdit({patientId: patientProfile.patientId})">{{patientProfile.firstName + " " + patientProfile.lastName}}</a>
</h3>
<hr>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Date</th>
            <th>Patient Complaint</th>
            <th>Diagnosis</th>
            <th>Diseases</th>
            <th>Medicines</th>
            <th>Next Visit</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="prescription in prescriptions" class="eremedium-prescription-list" uib-tooltip="View Prescription" ng-click="view(prescription.pid)">
          <td>{{prescription.pDate | date:'medium'}}</td>
          <td>{{ prescription.patientComplaint }}</td>
          <td>{{ prescription.diagnosis }}</td>
          <td>
            <ul class="eremedium-prescription-item-list">
              <li ng-repeat="disease in prescription.diseases">
                {{disease.disease}}
              </li>
            </ul>
          </td>
          <td>
            <ul class="eremedium-prescription-item-list">
              <li ng-repeat="medicine in prescription.medcines">
                {{medicine.name}}
              </li>
            </ul>
          </td>
          <td>{{prescription.nextVisit | date:'medium'}}</td>
        </tr>
    </tbody>
</table>