<ul class="breadcrumb">
    <li><a href="#/patients">Home</a></li>
    <li><a href="#/patients/edit/{{prescription.patient.patientId}}">Patient Profile</a></li>
    <li class="active">Place Order</li>
</ul>
<div cg-busy="myPromise"></div>
<form name="formPrescriptionOrder" class="panel-group" novalidate autocomplete="off">
    <div class="panel panel-primary">
        <div class="panel-heading">Select pharmacy</div>
        <div class="panel-body">
            <div class="form-group clearfix">
                <div class="form-group col-md-4">
                    <label for="pharmacy">Pharmacy</label>
                    <select class="form-control" 
                            ng-options="pharmacy.pharmaName for pharmacy in pharmacies" id="pharmacy"  name="pharmacy" ng-model="order.pharmacy" required>
                        <option value="">None</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">Select Lab</div>
        <div class="panel-body">
            <div class="form-group clearfix">
                <div class="form-group col-md-4">
                    <label for="lab">Lab</label>
                    <input type="text" name="lab" ng-model="order.lab" class="form-control" id="lab" placeholder="Select the lab to perform test"
                           uib-typeahead="lab for lab in labs | filter:$viewValue | limitTo:5" typeahead-editable="false" required/>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">Select a delivery address</div>
        <div class="panel-body">
            <div class="form-group clearfix">
                <p>
                    Is the address you'd like to use displayed below? If so, select the corresponding address. Or you can <a ui-sref="PrescriptionOrder.PatientNewOrEditAddress">enter a new delivery address</a>.
                </p>
                <hr>
                <div class="radio col-md-3 eremedium-delivery-address" ng-repeat="address in addresses">
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked />
                        <div>
                            <div><strong>{{prescription.patient.firstName + " " + prescription.patient.lastName}}</strong></div>
                            <div>{{address.line1}}</div>
                            <div>{{address.line2}}</div>
                            <div>{{address.city}}, {{address.state}} {{address.pincode}}</div>
                        </div>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="form-group">
        <div class="error-summary alert alert-danger" ng-show="(formPrescriptionOrder.pharmacy.$touched && formPrescriptionOrder.lab.$touched) &&
                                (formPrescriptionOrder.pharmacy.$error.required && formPrescriptionOrder.lab.$error.required)">
            <p>Please select either Lab or Pharmacy (or both)!</p>
        </div>
        <button type="button" class="btn btn-primary" ng-click="order()" ng-disabled="formPrescriptionOrder.pharmacy.$error.required && formPrescriptionOrder.lab.$error.required">
            <i class="fa fa-thumbs-up"></i> Confirm Order
        </button>
        <button type="button" class="btn btn-default" ng-click="close()">
            <i class="fa fa-times"></i> Cancel
        </button>
    </div>
</form>
<div ui-view></div>