<div cg-busy="myPromise"></div>
<div>
  <h4>{{prescription.patient.firstName}} {{prescription.patient.lastName}}</h4>
  <div>+91 {{prescription.patient.mobile}}</div>
</div>
<hr>
<div>
  <h4><strong>Dr: {{prescription.doctor.firstName}} {{prescription.doctor.lastName}}</strong></h4>
  <div>+91 {{prescription.doctor.mobile}}</div>
</div>
<hr>
<div class="row">
  <div class="col-md-1">
    Complaints:
  </div>
  <div class="col-md-11">
    {{prescription.patientComplaint}}
  </div>
</div>
<div class="row">
  <div class="col-md-1">
    Diagnosis:
  </div>
  <div class="col-md-11">
    {{prescription.diagnosis}}
  </div>
</div>
<hr>
<div>
  <span class="pull-left h3">Prescription (Px)</span>
  <span class="pull-right h5 eremedium-prescription-date">{{prescription.creationDate | date:'medium'}}</span>
</div>
<medicines class="clearfix"></medicines>
<hr>
<form name="formPrescriptionOrder" novalidate>
  <div class="form-group">
      <button type="button" class="btn btn-primary" ui-sref="PrescriptionNewOrEdit({pId: prescription.pid})" ng-disabled="formPrescriptionOrder.$invalid">Edit</button>
      <button type="button" class="btn btn-success" ui-sref="PrescriptionOrder({pId: prescription.pid})" ng-disabled="formPrescriptionOrder.$invalid">Place Order</button>
      <button type="button" class="btn btn-default" ui-sref="PrescriptionList({patientId: prescription.patient.patientId})">Cancel</button>
  </div>
</form>