<div cg-busy="myPromise"></div>
<div id="prescriptionDetail">
    <div>
        <h4>{{getFullName(prescription.patient)}}, {{prescription.patient.sex}}, {{prescription.patient.age.year}} years</h4>
        <div>+91 {{prescription.patient.mobile}}</div>
    </div>
    <hr>

    <div class="form-group row">
        <div class="col-md-12 col-xs-12">
            <h5 class='text-info'><i class="fa fa-heartbeat fa-1x"></i> History</h5>
            <span> {{patient.history.medical}}-{{patient.history.surgical}}-{{patient.history.family}}</span>
        </div>
        <div class="col-md-12 col-xs-12">
            <h5 class='text-info'><i class="fa fa-flask fa-1x"></i> Allergies</h5>
            <span> {{patient.alergy.drug}}-{{patient.alergy.food}}-{{patient.alergy.enviromental}}</span>
        </div>
        <div class="col-md-12 col-xs-12" ng-if="patient.vital.dateTime">
            <h5 class='text-info'><i class="fa fa-stethoscope fa-1x"></i> Vitals</h5>
        </div>
        <div class="col-md-2 col-xs-2" ng-if="patient.vital.dateTime"> 
            <h5 class='text-info'>DateTime</h5>
            <span style="white-space: pre;"> {{patient.vital.dateTime| date:'short'}} </span>
        </div>
        <div class="col-md-2 col-xs-2" ng-if="patient.vital.temp">
            <h5 class='text-info'>Temp (&#8457;)</h5>
            <span style="white-space: pre;"> {{patient.vital.temp}} </span>
        </div>
        <div class="col-md-2 col-xs-2" ng-if="patient.vital.pulse">
            <h5 class='text-info'>Pulse (bpm)</h5>
            <span style="white-space: pre;"> {{patient.vital.pulse}} </span>
        </div>
        <div class="col-md-2 col-xs-2" ng-if="patient.vital.rr">
            <h5 class='text-info'>RR (breaths/min)</h5>
            <span style="white-space: pre;"> {{patient.vital.rr}} </span>
        </div>
        <div class="col-md-2 col-xs-2" ng-if="patient.vital.bp">
            <h5 class='text-info'>SYS/DIA (mmhg)</h5>
            <span style="white-space: pre;"> {{patient.vital.bp}} </span>
        </div>
        <div class="col-md-2 col-xs-2" ng-if="patient.vital.wt">
            <h5 class='text-info'>Weight (Kg)</h5>
            <span style="white-space: pre;"> {{patient.vital.wt}} </span>
        </div>
    </div>

    <hr class="col-md-12 col-xs-12">
    <div ng-if="!canvasEnabled">
        <div>
            <label><strong>Complaints: </strong></label>
            <div class="inline">{{ prescription.patientComplaint}}</div>
        </div>
        <br>
        <div>
            <label><strong>Diagnosis: </strong></label>
            <div class="inline">{{ prescription.diagnosis}}</div>
        </div>
    </div>
    <div ng-if="canvasEnabled">
        <!--<label>Complaints & Diagnosis: </label>-->
        <img ng-src="{{img.src}}" ng-repeat="img in prescription.images"/>
    </div>
    <hr>
    <div>
        <span class="pull-left h3"> &#8478; </span>
        <span class="pull-right h5 eremedium-prescription-date">{{prescription.creationDate| date:'short'}}</span>
    </div>
    <items class="clearfix" type="medcine" prescription="prescription"></items>
    <hr>
    <div>
        <span class="h4"> Adv </span>
    </div>
    <items class="clearfix" type="advise" prescription="prescription"></items>
</div>
<hr>
<form name="formPrescriptionOrder" novalidate>
    <div class="form-group">
        <button type="button" class="btn btn-success" ui-sref="PrescriptionOrder({patientId: prescription.patient.patientId, prescriptionId: prescription.pid})"
                ng-disabled="formPrescriptionOrder.$invalid">
            <span class="glyphicon glyphicon-shopping-cart"></span> Place Order
        </button>
        <button type="button" class="btn btn-default" ng-print print-element-id="prescriptionDetail">
            <span class="glyphicon glyphicon-print"></span> Print
        </button>

    </div>
</form>
