<ul class="breadcrumb">
    <li><a href="#/patients">Home</a></li>
    <li><a href="#/patients/edit/{{patientId}}">Patient Profile</a></li>
    <li class="active">Order Status</li>
</ul>
<div cg-busy="myPromise"></div>

<div class="panel panel-primary">
  <div class="panel-body">
    <div pw-canvas options="{width: 400, height: 300, color: '#ff0'}" />

    <h4 class="text-success"><span class="glyphicon glyphicon-ok eremedium-order-placed" aria-hidden="true"></span> Order successfully placed!</h4>
  </div>
</div>