<div cg-busy="myPromise"></div>
<table class="table table-striped" ng-show="prescription.advises.length">
    <thead>
    <th ng-if="!editable">#</th>
    <th>Test</th>
    <th>Instructions</th>
    <th ng-if="editable"></th>
</thead>
<tbody>
    <tr ng-repeat="advise in prescription.advises">
        <td ng-if="!editable">{{ $index + 1}}</td>
        <td>
            <div ng-if="!editable">
                {{ advise.name}}
            </div>
            <div ng-if="editable">
                <div class="input-group input-group--autocomplete">
                    <input type="text" ng-model="advise.name" class="form-control"
                           placeholder="Advise name..." uib-typeahead="advise.name for advise in searchAdvises($viewValue)" typeahead-min-length="0"/>
                </div>
            </div>
        </td>
        <td>
            <div ng-if="!editable">
                {{ advise.instructions}}
            </div>
            <div ng-if="editable">
                <div class="input-group input-group--autocomplete">
                    <input type="text" ng-model="advise.instructions" class="form-control"
                           placeholder="Add Instructions..." uib-typeahead="instruction.name for instruction in adviseInstructions" typeahead-min-length="0"/>
                </div>
            </div>
        </td>
        <td ng-if="editable">
            <ul class="list-inline list-unstyled">
                <li><a ng-click="delete($index)" ng-show="prescription.advises.length > 1">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></li>
            </ul>
        </td>
    </tr>
</tbody>
</table>
