<div cg-busy="myPromise"></div>
<div ncy-breadcrumb></div>

<form name="formMessages" class="panel-group" novalidate scroll-spy>
    <div class="pull-right">
        <ul id="navPills" class="nav nav-pills nav-stacked affix">
            <li spy="smsCenter">
                <a href="" ng-click="isSMSCentreCollapsed = false">
                    <i class="fa fa-comment-o fa-1x"></i>
                </a>
            </li>
            <li spy="deliveryReport">
                <a href="" ng-click="isDeliveryReportVisible = true; isDeliveryReportCollapsed = true">
                    <i class="fa fa-list-alt fa-1x"></i>
                </a>
            </li>
        </ul>
    </div>

    <div id="divContent" class="col-md-12">
        <div class="panel panel-info" id="smsCenter">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <i class="fa fa-comment fa-1x"></i>
                    <a ng-click="isSMSCentreCollapsed = !isSMSCentreCollapsed" href="">SMS Center</a>                    
                </h4>
            </div>
            <div id="divSMSCenter" uib-collapse="isSMSCentreCollapsed">
                <div class="panel-body">
                    <div class="form-group well well-lg" ng-class="{ 'has-error': formMessages.recipients.$touched && formMessages.recipients.$invalid }">
                        
                            <p class="text-info"><span class="badge alert-success">1</span> Select Recipients</p>
                            <label class="radio-inline">
                                <input name="radioGroup" id="radioAllPatients" value="allPatients" checked="" type="radio"> All Patients
                            </label>
                            <label class="radio-inline">
                                <input name="radioGroup" id="radioSelectPatients" value="partialAll" type="radio"> Select Patients
                            </label>
                        
                        <div class="help-block" ng-messages="formMessages.recipients.$error" ng-if="formMessages.recipients.$touched">
                            <p ng-message="required">Please add Recipients!</p>
                        </div>
                    </div>
                    <div class="form-group well well-lg" ng-class="{ 'has-error': formMessages.smsText.$touched && formMessages.smsText.$invalid }">                    
                        <p class="text-info"><span class="badge alert-success">2</span> Add SMS Text</p>
                        <textarea class="form-control" ng-model="smsText" id="smsText" name="smsText" rows="1" placeholder="Enter text here.." required></textarea>
                        <div class="help-block" ng-messages="formMessages.smsText.$error" ng-if="formMessages.smsText.$touched">
                            <p ng-message="required">Please enter SMS Text!</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="alert {{alertClass}} col-md-8  fade in" ng-show="showAlert" role="alert" style="margin-bottom: 0%">
                            <button type="button" class="close" ng-click="showAlert = false" aria-hidden="true">&times;</button>
                            {{alertMessage}}
                        </div>
                        <div class="pull-right">
                            <button class="btn btn-primary" type="button" ng-click="sendSMS()" ng-disabled="formMessages.$invalid">
                                <i class="fa fa-comment"></i> Send SMS
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-info" id="deliveryReport" ng-show="isDeliveryReportVisible">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <i class="fa fa-list-alt fa-1x"></i>
                    <a ng-click="isDeliveryReportCollapsed = !isDeliveryReportCollapsed" href="">Delivery Report (Last 25 Transactions)</a>
                </h4>
            </div>
            <div id="divHistory" uib-collapse="!isDeliveryReportCollapsed">
                <div class="panel-body">

                </div>
            </div>
        </div>
    </div>

</form>