<div cg-busy="myPromise"></div>

<div class="col-md-12">
    <ul class="breadcrumb">
        <li><a href="#/patients">Home</a></li>
        <li class="active">Messages</li>
    </ul>
</div>

<form name="formMessages" class="panel-group" novalidate scroll-spy>
    <div class="pull-right">
        <ul id="navPills" class="nav nav-pills nav-stacked affix">
            <li spy="smsCenter">
                <a href="" ng-click="isSMSCentreCollapsed = false">
                    <i class="fa fa-comment-o fa-1x"></i>
                </a>
            </li>
            <li spy="deliveryReport">
                <a href="" ng-click="isDeliveryReportVisible = true; isDeliveryReportCollapsed = true">
                    <i class="fa fa-list-alt fa-1x"></i>
                </a>
            </li>
        </ul>
    </div>

    <div id="divContent" class="col-md-12">
        <div class="panel panel-info" id="smsCenter">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <i class="fa fa-comment fa-1x"></i>
                    <a ng-click="isSMSCentreCollapsed = !isSMSCentreCollapsed" href="">SMS Center</a>                    
                </h4>
            </div>
            <div id="divSMSCenter" uib-collapse="isSMSCentreCollapsed">
                <div class="panel-body">
                    <div class="well well-lg">
                        Select Recepients
                    </div>
                    <div class="well well-lg">
                        SMS Text
                    </div>
                    <div class="form-group">
                        <div class="alert {{alertClass}} col-md-8  fade in" ng-show="showAlert" role="alert" style="margin-bottom: 0%">
                            <button type="button" class="close" ng-click="showAlert = false" aria-hidden="true">&times;</button>
                            {{alertMessage}}
                        </div>
                        <div class="pull-right">
                            <button class="btn btn-primary" type="button" ng-click="sendSMS" ng-disabled="formMessages.$invalid">
                                <i class="fa fa-comment"></i> Send SMS
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-info" id="deliveryReport" ng-show="isDeliveryReportVisible">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <i class="fa fa-list-alt fa-1x"></i>
                    <a ng-click="isDeliveryReportCollapsed = !isDeliveryReportCollapsed" href="">Delivery Report (Last 25 Transactions)</a>
                </h4>
            </div>
            <div id="divHistory" uib-collapse="!isDeliveryReportCollapsed">
                <div class="panel-body">

                </div>
            </div>
        </div>
    </div>

</form>