<div cg-busy="myPromise"></div>
<!-- Button trigger modal -->

<div id="loginContent">
    <div class="modal fade" tabindex="-1" role="dialog" id="loginModal" ng-keydown="$event.which === 13 && signIn()">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Login</h4>
                </div>
                <div class="modal-body">
                <div pw-canvas class="rx-canvas"
         options="{height: 320, width: 600, color: '#000', undo: false, lineWidth: 3, customCanvasId: 'clinicalNotes'}"></div>

                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
<div id="registerContent">
    <div class="modal fade" tabindex="-1" role="dialog" id="registerModal" ng-keydown="$event.which === 13">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Register</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <form name="formRegister" class="form-horizontal col-sm-offset-2 col-sm-8" novalidate>

                            <p class="text-info lead">
                                Join growing network of Doctors!
                            </p>

                            <!--Mobile Number Section-->
                            <div class="form-group" ng-class="{ 'has-error': formRegister.inputRegisterMobileNumber.$touched && formRegister.inputRegisterMobileNumber.$invalid }">
                                <div class="input-group">
                                    <i class="glyphicon-earphone glyphicon input-group-addon"></i>
                                    <input name="inputRegisterMobileNumber" type="number" min="0" class="form-control input-lg" 
                                           id="inputRegisterMobileNumber" placeholder="Mobile Number" ng-model="registerMobileNumber"
                                           ng-minlength="10" ng-maxlength="10" required>
                                </div>
                                <div class="help-block" ng-messages="formRegister.inputRegisterMobileNumber.$error" ng-if="formRegister.inputRegisterMobileNumber.$touched">
                                    <p ng-message="minlength">Please enter valid Mobile Number!</p>
                                    <p ng-message="maxlength">Please enter valid Mobile Number!</p>
                                    <p ng-message="required">Your Mobile Number is mandatory!</p>
                                </div>
                            </div>

                            <!--Password Section-->
                            <div class="form-group" ng-class="{ 'has-error': formRegister.inputRegisterPassword.$touched && formRegister.inputRegisterPassword.$invalid }">
                                <div class="input-group">
                                    <i class="glyphicon-lock glyphicon input-group-addon"></i>
                                    <input name="inputRegisterPassword" type="password" class="form-control input-lg" 
                                           id="inputRegisterPassword" placeholder="Password (atleast 6 characters)" ng-model="registerPassword"
                                           required ng-minlength="6">
                                </div>
                                <div class="help-block" ng-messages="formRegister.inputRegisterPassword.$error" ng-if="formRegister.inputRegisterPassword.$touched">
                                    <p ng-message="required">Please enter Password!</p>
                                    <p ng-message="minlength">Please enter at least 6 characters!</p>
                                </div>
                            </div>
                            <!--SignUp Button-->
                            <div class="form-group">
                                <p>
                                    By signing up, I agree to
                                    <a href="#" target="_blank" id="terms">Terms and Conditions</a>
                                </p>
                                <div>
                                    <button type="submit" class="btn btn-primary btn-block btn-lg">Yay! Sign me up</button>
                                </div>
                            </div>
                            <p class="text-muted">
                                <label>Already have an E-Remedium Account? 
                                    <a href="" ng-click="toggleModal('true')">Login Now
                                    </a>
                                </label>
                            </p>
                        </form>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>

